/********** Template CSS **********/
:root {
    --primary: #348E38;
    --secondary: #525368;
    --light: #E8F5E9;
    --dark: #0F4229;
    --mc: #007bff;
    
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


.text-justify {
    text-align: justify;
    
}

/* about us  */
.text-justify {
    text-align: justify;
}

#video2
{
    /* background-color: red; */
    height: 10vh;
    width: 40vw;
    margin-left: 4rem;
    margin-top: -25rem;
}

#numbers 
{
    color: #06A3DC;
}



/* About Section Styles */
@media (max-width: 768px) {
    .container-xxl .row.g-5.align-items-end {
        flex-direction: column-reverse;
    }

    .container-xxl .col-lg-6.col-md-7,
    .container-xxl .col-lg-6.col-md-9 {
        text-align: center;
    }

    .container-xxl .col-lg-6.col-md-9 {
        margin-bottom: 30px;
    }

    .container-xxl .col-lg-6.col-md-7 h1.display-5,
    .container-xxl .col-lg-6.col-md-7 h1.display-6 {
        font-size: 1.75rem;
    }

    .container-xxl .col-lg-6.col-md-7 p.mb-4 {
        font-size: 1rem;
    }

    .container-xxl .col-lg-6.col-md-7 .btn {
        margin-top: 20px;
    }

    #video2
{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 80vw;
    margin-left: 0rem;
    margin-top: 0px;
    & video{
        width: 500px;
        height: 100%;
    }
}
}




/* Our Vision Styles */
.our-vision-area {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f8f9fa;
}

.single-vision-box {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.single-vision-box:hover {
    /* background: #007bff; */
    background: linear-gradient(#406cf1,#00bf63);
    color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.single-vision-box .icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.single-vision-box:hover .icon {
    color: #ffffff;
}

.single-vision-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.single-vision-box p {
    font-size: 16px;
    text-align: justify;
}






.single-vision-box3 {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    height: 348px;
}

.single-vision-box3:hover {
    /* background: #007bff; */
    background: linear-gradient(#406cf1,#00bf63);
    color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.single-vision-box3 .icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.single-vision-box3:hover .icon {
    color: #ffffff;
}

.single-vision-box3 h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.single-vision-box3 p {
    font-size: 16px;
    text-align: justify;
}

@media (max-width: 768px) {
    .single-vision-box {
        margin-bottom: 10px;

    }

    .single-vision-box3 {
        margin-bottom: 10px;
        height:348px
        
    }
}
/* about us end */

h1,
.h1,
h2,
.h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Top Bar ***/
.custom-bg-blue {
    background-color: #007bff; /* Replace with your desired blue color */
}

/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 80px
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(15, 66, 41, .6);
    z-index: 1;
}

#banner-img {
    height: 90vh;
    width: 100%;
}


.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(15, 66, 41, .6), rgba(15, 66, 41, .6)), url(../img/banner4.webp) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/* Ensure Top Feature occupies full width */
@media (min-width: 991.98px) {
    .top-feature {
        position: relative;
        margin-top: -80px;
        z-index: 1;
    }
}

/* Full-width fix */
.top-feature .col-lg-4 {
    margin-bottom: 20px;
}

.top-feature .col-lg-4 .bg-white {
    width: 100%;
    padding: 20px;
}

/* Remove any extra spacing inside */
.top-feature .col-lg-4 .d-flex {
    width: 100%;
}

.main-color {
    background: linear-gradient(#406cf1, #00bf63);
}




/*** Facts & Quote ***/
.facts,
/* .quote {
    background: rgba(15, 66, 41, .6);
} */
.quote {
    background: rgba(15, 66, 41, .6);
}


/*** Service ***/
.service-item {
    position: relative;
    text-align: center;
}

.service-item .service-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.service-item .service-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    transform: scale(1.2);
    transition: .3s;
    z-index: -1;
}

.service-item:hover .service-img img {
    transform: scale(1);
}

.service-item .service-text {
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .3s;
}

.service-item:hover .service-text {
    background: rgba(15, 66, 41, .6);
}

.service-item .service-text h4,
.service-item .service-text p {
    transition: .3;
}

.service-item:hover .service-text h4 {
    color: #FFFFFF;
}

.service-item:hover .service-text p {
    color: var(--light);
}

.service-item .service-text .btn-square {
    width: 100px;
    height: 100px;
    background: transparent;
    transition: .5s;
}

.service-item:hover .service-text .btn-square {
    background: var(--light);
}

.service-item .service-text .btn {
    width: 31px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: var(--light);
    white-space: nowrap;
    overflow: hidden;
    transition: .3s;
}

.service-item:hover .service-text .btn {
    width: 112px;
}

.text-justify {
    text-align: justify;
}

/*** Project Portfolio ***/
#portfolio-flters {
    display: inline-block;
    background: var(--light);
    padding: 10px 15px;
}

#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--dark);
    border-color: var(--dark);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
}

.portfolio-inner::before,
.portfolio-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(15, 66, 41, .6);
    transition: .5s;
}

.portfolio-inner::after {
    left: auto;
    right: 0;
}

.portfolio-inner:hover::before,
.portfolio-inner:hover::after {
    width: 50%;
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.portfolio-inner:hover .portfolio-text {
    transition-delay: .3s;
    opacity: 1;
}

.portfolio-inner .portfolio-text .btn {
    background: var(--light);
    color: var(--primary);
}

.portfolio-inner .portfolio-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}


/*** Team ***/
.team-item {
    position: relative;
    overflow: hidden;
}

.team-item .team-text {
    position: absolute;
    width: calc(100% - 45px);
    left: -100%;
    bottom: 45px;
    padding: 1.5rem;
    background: #FFFFFF;
    border-radius: 0 4px 4px 0;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-text {
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    background: var(--light);
    color: var(--primary);
}

.team-item .team-social .btn:hover {
    background: var(--primary);
    color: var(--light);
}

.team-item .team-img .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 3;
    opacity: 0;
}

.team-item:hover .team-img .team-social {
    transition-delay: .3s;
    opacity: 1;
}


/*** Testimonial ***/

.testimonial-carousel .owl-item img {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 4px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: var(--light);
}


/* About */


/*** Footer ***/
.footer {
    color: #ffffff; 
}

.footer p {
    color: #ffffff; 
}



.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #ffffff; 
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color:var(--light);
    background: #000000;
}

.copyright a {
    color: #ffffff; 
}

.copyright a:hover {
    color: #444DBC;
}

.copyright .row {
    justify-content: center;
}

.footer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../my-images/footer-bg.webp') no-repeat center center;
    background-size: cover;
    filter: blur(7px);
    z-index: 0;
    
    /* background: rgba(0, 0, 0, 0.1); */
}

.form-outline{
    width: auto;
}


.footer-form
{
 width: max-content;

}
@media (max-width: 1500px) {
   .footer-form
   {
    width: max-content;
   }
   .form-outline,.form-check{
    width: 14rem;
}
     .top-ft
        {
            margin-top: -50px;
        }

    

}
/* #mh{
    height: 0;
} */
/* @media (min-width:300px) and (max-width:500px){
    #mh{
        height: 50%;
    }
} */
@media (max-width: 980px) {
    .footer-form
    {
     width: max-content;
    }
    .form-outline,.form-check{
     width: 20rem;
 }
}


.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



/* Contact Us Css */


/* Contact Section Styles */
.contact-us {
    padding: 100px 0;
    background-color: #f8f9fa;
}

.contact-us .inner {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.contact-us-left img {
    width: 100%;
    border-radius: 10px;
}

.contact-us-form h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-us-form p {
    font-size: 16px;
    margin-bottom: 30px;
}

.contact-us-form .form-group {
    margin-bottom: 20px;
}

.contact-us-form .form-group input,
.contact-us-form .form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.contact-us-form .form-group input:focus,
.contact-us-form .form-group textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
}

.contact-us-form .btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.contact-us-form .btn:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.contact-info {
    margin-top: 50px;
}

.contact-info .row {
    display: flex;
    flex-wrap: wrap;
}

.contact-info .single-info {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.contact-info .single-info:hover {
    /* background: #007bff; */
    background: linear-gradient(#406cf1,#00bf63);
    color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.contact-info .single-info i {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.contact-info .single-info:hover i {
    color: #ffffff;
}

.contact-info .single-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-info .single-info p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .contact-us {
        padding: 50px 0;
    }

    .contact-us .inner {
        padding: 20px;
    }

    .contact-info .single-info {
        margin-bottom: 30px;
    }
}



/* index video  */


/* About Section Styles */


/* About Section Styles */
@media (max-width: 768px) {
    .container-xxl .row.g-5.align-items-end {
        flex-direction: column-reverse;
    }

    .container-xxl .col-lg-6.col-md-7,
    .container-xxl .col-lg-6.col-md-9 {
        text-align: center;
    }

    .container-xxl .col-lg-6.col-md-9 {
        margin-bottom: 30px;
    }

    .container-xxl .col-lg-6.col-md-7 h1.display-5,
    .container-xxl .col-lg-6.col-md-7 h1.display-6 {
        font-size: 1.75rem;
    }

    .container-xxl .col-lg-6.col-md-7 p.mb-4 {
        font-size: 1rem;
    }

    .container-xxl .col-lg-6.col-md-7 .btn {
        margin-top: 20px;
    }

    #video1 {
        display: flex;
        justify-content: center;
        height: 30vh;
        width: 80vw;
        margin-left: 0;
        margin-top: 50px;
    }
}

@media (max-width: 600px) {
    #video1 {
        height: 50vh;
        width: 90vw;
        margin-left: 0;
    }
}
#mainVideo{
    width: 60%; 
    height: 50vh;
    display: flex; 
    justify-self: center;
}

#myMap img
{
    height:520px;
    width: 100%;
}

@media (min-width: 600px) and (max-width: 768px) {
    .container-xxl .col-lg-6.col-md-7,
    .container-xxl .col-lg-6.col-md-9 {
        text-align: left;
    }

  

    #mainVideo{
        width: 100%; 
        height: 60vh;
        display: flex; 
        justify-self: center;
        margin-top: -50px;
    }

    .container-xxl .col-lg-6.col-md-9 {
        margin-bottom: 0;
    }

    #video1 {
        height: 40vh;
        width: 100%;
        margin-left: 0;
        
    }
}

@media (min-width: 768px) {
    .container-xxl .row.g-5.align-items-end {
        flex-direction: row;
    }

    .container-xxl .col-lg-6.col-md-7,
    .container-xxl .col-lg-6.col-md-9 {
        text-align: left;
    }

    .container-xxl .col-lg-6.col-md-9 {
        margin-bottom: 0;
    }

    #video1 {
        height: 50vh;
        width: 100%;
        margin-left: 0;
    }
}


/* Main About Us */


/* Blog Section Styles */
.blog.grid.section {
    padding: 60px 0;
}

.single-news {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.single-news:hover {
    transform: translateY(-10px);
}

.news-head img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.news-body {
    padding: 20px;
}

.news-content {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.main-sidebar {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.single-widget {
    margin-bottom: 30px;
}

.single-widget h2,
.single-widget h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.single-widget p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.single-post h6 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .single-news {
        margin-bottom: 30px;
    }

    .main-sidebar {
        margin-top: 30px;
    }

    
}


/* Product > Face Cream */





/* Blog Section Styles */
.blog.grid.section {
    padding: 60px 0;
}

.single-news {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    margin-left: 10rem;
    width: 100%;

}

.single-news:hover {
    transform: translateY(-10px);
}



.news-head img {
    width: 100%;
    height: 55vh;
    border-bottom: 1px solid #ddd;
}

.news-body {
    padding: 20px;
}

.news-content {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.main-sidebar {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.single-widget {
    margin-bottom: 30px;
}

.single-widget h2,
.single-widget h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.single-widget p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.single-post h6 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .single-news {
        margin-bottom: 30px;
    }

    .main-sidebar {
        margin-top: 30px;
    }

    .single-news {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        margin-bottom: 30px;
        margin-left: 0rem;
        width: 100%;
    
    }
    
    #myMap img
    {
        height:250px;
        width: 100%;
        margin-bottom: 2rem;
    }

    .aboutmc
    {
        margin-top: -120px;
    }

    .aboutmc1
    {
        margin-top: -100px;
    }
}

@media (min-width: 600px) and (max-width:768px)
{
    .aboutmc1
    {
        margin-top: 100px;
    }
}

@media (min-width: 300px) and (max-width: 768px) {
    #myMap img
    {
        height:350px;
        width: 100%;
        margin-bottom: 2rem;
    }
    #video1,#mainVideo{
        height:50%;
    }
   
}
#cont-no{
    font-size: 15px;
    padding: 0;
}

@media (min-width: 770px) and (max-width: 1200px) {
    #myMap img
    {
        height:550px;
        width: 100%;
        margin-bottom: 2rem;
    }
    .aboutmc
    {
        margin-top: -100px;
    }
    
}




/* Face Cream */
.blog.grid.section {
    padding: 60px 0;
}

.single-news1 {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    margin-bottom: 30px;
    margin-left: 0rem;
    width: 100%;

}

.single-news1:hover {
    transform: translateY(-10px);
}



.news-head img {
    width: 100%;
    height: 55vh;
    border-bottom: 1px solid #ddd;
}

.news-body {
    padding: 20px;
}

.news-content {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.main-sidebar {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.single-widget {
    margin-bottom: 30px;
}

.single-widget h2,
.single-widget h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.single-widget p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.single-post h6 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .single-news1 {
        margin-bottom: 30px;
    }

    .main-sidebar {
        margin-top: 30px;
    }

    .single-news1 {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
        margin-bottom: 30px;
        margin-left: 0rem;
        width: 100%;
    
    }
    
}
